<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--adding Technical template to our html aka
thymeleaf to make dynamic ***always has to be here***-->
<head th:replace="fragments/header :: head">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    <title>Cooking Guide App</title>
</head>

<body>

<div th:replace="fragments/navbar::nav"></div>

<div class="recipe-title" th:text="${category}"></div>

<div class="container">

    <div class="food-container" th:each="recipe : ${recipes}">

        <h3 class="funny-title" th:text="${recipe.name}"></h3>
        <a th:href="@{/getRecipeById/{id}(id = ${recipe.id})}"><img
                th:src="@{/images/{image}(image=${recipe.imageURL})}" height="260" width="350" class="food-ing-img"></a>
        <br>
        <div class="description" th:text="${recipe.originDescription}"></div>

    </div>

</div>
<footer th:replace="fragments/footer :: footer">

</footer>

</body>
</html>